<section id="contact" class="contact">
  <div class="container mb-3">
    <h1 class="mt-5 mb-5">Contact</h1>
    <div class="row justify-content-center">
      <div class="col-lg-3 text-center">
        <a href="" class="contact-link" target="_blank">
          <div class="contact-link-img"> 
            <img src="../assets/svgs/email-arrow-right-outline.svg" alt="Email">
          </div>
          <p>Email</p>
        </a>
      </div>
      <div class="col-lg-3 text-center">
        <a href="https://github.com/SciCatProject/scicat-backend-next/discussions" class="contact-link" target="_blank">
          <img src="../assets/images/github_logo.jpg" alt="GitHub Logo">
          <p>GitHub Discussions</p>
        </a>
      </div>
      <div class="col-lg-3 text-center">
        <a href="https://google.com" class="contact-link" target="_blank">
          <img src="../assets/images/slack_logo.jpg" alt="Slack Logo">
          <p>Slack Channel</p>
        </a>
      </div>
      <div class="col-lg-3 text-center">
        <a href="" class="contact-link" target="_blank">
          <div class="contact-link-img">
            <img src="../assets/svgs/email-arrow-left-outline.svg" alt="Email">
          </div>
          <p>Mailing List</p>
        </a>
      </div>
    </div>
  </div>
</section>
