<section id="documentation" class="effort text-center bg-light">
 <div class="container">
  <h1 class="mt-5 mb-5">Documentation</h1>
  <div class="row">
   {% for document in site.documentation %}
     <div class="documentation"> <div class="documentation-name">
      <div class="name">{{ document.name }}</div>
     </div>
     <div class="documentation-info">
      <div class="text">{{ document.description }}</div>
      <div class="text"><a href="{{ document.link }}" target="_blank">{{ document.link }}</a></div>
      <a href="{{ document.url }}" target="_blank">{{ document.name }}</a>
     </div>
   {% endfor %}
  </div>
 </div>
</section>

