<section id="documentation" class="documentation text-center bg-light">
  <div class="container mb-3">
    <h1 class="mt-5 mb-5">Documentation</h1>
    <div class="row justify-content-center">
      <div class="documentation-section card card-xl">
        <div class="details">
          <a href="{{ site.documentation.main.url }}" target="_blank">
            <div class="name">{{ site.documentation.main.name }}</div>
          </a>
          <div class="text">{{ site.documentation.main.description }}</div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for document in site.documentation.others %}
        <div class="documentation-section col-lg-4 card">
          <div class="details">
            <a href="{{ document.url }}" target="_blank">
              <div class="name">{{ document.name }}</div>
            </a>
            <div class="text">{{ document.description }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
