<section id="effort" class="effort text-center bg-light">
 <div class="container">
  <h1 class="mt-5 mb-5">Efforts</h1>
  <div class="row">
   {% for effort in site.efforts %}
     <div class="effort-name col-lg-6 col-sm-12">
      <div class="name">{{ effort.name }}</div>
     </div>
     <div class="effort-info col-lg-6 cols-sm-12">
      <div class="text">{{ effort.description }}</div>
      <div class="text"><a href="{{ effort.link }}" target="_blank">{{ effort.link }}</a></div>
      {% if effort.leader %}
       <div class="text">Leader: {{ effort.leader }}</div>
      {% endif %}
     </div>
   {% endfor %}
  </div>
 </div>
</section>
