<section id="footer">
    <div class="container">
	<div class="row">
            <div class="col-lg-4 col-sm-12 text-center">
		 <p class="text-muted mb-4 mb-lg-0">&copy; SciCat 2020-<script>document.write(new Date().getFullYear())</script>. All Rights Reserved.</p>
            </div>
            <div class="col-lg-4 col-sm-12 text-center">
		    <p class="text-muted mb-4 mb-lg-0">Version: {{ site.version }}</p>
            </div>
            <div class="col-lg-4 col-sm-12 text-center">
		    <p class="text-muted mb-4 mb-lg-0">Last updated: {{ site.last_updated }}</p>
            </div>
        </div>
    </div>
</section>

