<section id="intro" class="intro">
 <section class="pills-icons bg-light text-center">
  <div class="container">
   <div class="row">
    <div class="col-lg-3 col-sm-6">
     <div class="pills-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
      <div class="pills-icons-icon d-flex">
       <i class="fa-solid fa-6x {{ site.pill_1.icon }} wow bounceIn text-primary m-auto"></i>
      </div>
      <h3>{{ site.pill_1.title }}</h3>
      <p class="lead mb-0">{{ site.pill_1.oneline }}</p>
     </div>
    </div>
    <div class="col-lg-3 col-sm-6">
     <div class="pills-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
      <div class="pills-icons-icon d-flex">
       <i class="fa-solid fa-6x {{ site.pill_2.icon }} wow bouncIn m-auto text-primary"></i>
      </div>
      <h3>{{ site.pill_2.title }}</h3>
      <p class="lead mb-0">{{ site.pill_2.oneline }}</p>
     </div>
    </div>
    <div class="col-lg-3 col-sm-6">
     <div class="pills-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
      <div class="pills-icons-icon d-flex">
       <i class="fa-solid fa-6x {{ site.pill_3.icon }} wow bouncIn m-auto text-primary"></i>
      </div>
      <h3>{{ site.pill_3.title }}</h3>
      <p class="lead mb-0">{{ site.pill_3.oneline }}</p>
     </div>
    </div>
    <div class="col-lg-3 col-sm-6">
     <div class="pills-icons-item mx-auto mb-0 mb-lg-3">
      <div class="pills-icons-icon d-flex">
       <i class="fa-solid fa-6x {{ site.pill_4.icon }} wow bouncIn m-auto text-primary"></i>
      </div>
      <h3>{{ site.pill_4.title }}</h3>
      <p class="lead mb-0">{{ site.pill_4.oneline }}</p>
     </div>
    </div>
   </div>
  </div>
 </section>
 <section class="features">
  <div class="container-fluid p-0">
   <div class="features-row row g-0">
    <div class="col-lg-6 order-lg-1 m-0 features-text features-item features-fair"> 
     <div class="features-image" style="background-image: url('{{ site.feature_1.image }}');"></div>
     <div class="features-content">
      <div class="features-content-text">
        <h2>{{ site.feature_1.title }}</h2>
        <p class="text-center">{{ site.feature_1.text }}</p>
      </div>    
      <p class="attribution text-xs">{{ site.feature_1.attribution }}</p>
     </div>
    </div>
    <div class="col-lg-6 order-lg-2 m-0 features-text features-item features-integration">
     <div class="features-image" style="background-image: url('{{ site.feature_2.image }}');"></div>
     <div class="features-content">
      <div class="features-content-text">
        <h2>{{ site.feature_2.title }}</h2>
        <p class="text-center">{{ site.feature_2.text }}</p>
      </div>
      <p class="attribution text-xs">{{ site.feature_2.attribution }}</p>
     </div>
    </div>
   </div>
   <div class="features-row row g-0">
    <div class="col-lg-6 order-lg-1 m-0 features-text features-item features-stack"> 
     <div class="features-image" style="background-image: url('{{ site.feature_3.image }}');"></div>
     <div class="features-content">
      <div class="features-content-text">
        <h2>{{ site.feature_3.title }}</h2>
        <p class="text-center">{{ site.feature_3.text }}</p>
      </div>
      <p class="attribution text-xs">{{ site.feature_3.attribution }}</p>
     </div>
    </div>
    <div class="col-lg-6 order-lg-2 m-0 features-text features-item features-open">
     <div class="features-image" style="background-image: url('{{ site.feature_4.image }}');"></div>
     <div class="features-content">
      <div class="features-content-text">
        <h2>{{ site.feature_4.title }}</h2>
        <p class="text-center">{{ site.feature_4.text }}</p>
      </div>
      <p class="attribution text-xs">{{ site.feature_4.attribution }}</p>
     </div>
    </div>
   </div>
  </div>
 </section>
 <section class="latest">
  <h3>Latest Releases</h3>
  <h4>
    <a href="{{ site.backend_release.url }}" target="_blank">Backend</a>: {{ site.backend_release.version }}
    |
    <a href="{{ site.frontend_release.url }}" target="_blank">Frontend</a>: {{ site.frontend_release.version }}
  </h4>
 </section>
</section>
