<section id="mission" class="mission">
 <div class="container mb-3">
  <h1 class="mt-5 mb-5">Mission</h1>
  <h5>Advance your data to advance your science.</h5>
  <p>
    SciCat is a community driven scientific metadata catalog designed to simplify metadata management, enabling data sharing, discovery, and collaboration.
    By providing a central hub for metadata, SciCat makes data easily findable and accessible for the entire community.
    With flexible integration into diverse infrastructures and a clear path to data publication, SciCat empowers organizations to foster an open and innovative data culture, driving high-quality science forward.
  </p>
 </div>
</section>
