<nav class="navbar fixed-top affix-top navbar-expand-lg navbar-light bg-light navbar-fixed-top">
 <div class="container-fluid">
  <div class="navbar-header">
   <a class="navbar-brand" href="#"><img src="assets/images/SciCat_logo_full_100x48.png"></a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
  </div>
  <div class="navbar-menu collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
   <ul class="nav navbar-nav nav-pills mb-2 mb-lg-0">
    <li class="nav-item mx-lg-3">
     <a class="page-scroll nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item mx-lg-3">
     <a class="page-scroll nav-link" href="#intro">Intro</a>
    </li>
    <li class="nav-item mx-lg-3">
     <a class="page-scroll nav-link" href="#facilities">Facilities</a>
    </li>
    <li class="nav-item mx-lg-3">
     <a class="page-scroll nav-link" href="#team">Team</a>
    </li>
    <li class="nav-item mx-lg-3">
     <a class="page-scroll nav-link" href="#effort">Effort</a>
    </li>
    <li class="nav-item mx-lg-3">
     <a class="page-scroll nav-link" href="#resources">Resources</a>
    </li>
  </div>
</nav>

