<section id="news" class="news">
  <div class="container mb-3">
    <h1 class="mt-5 mb-5">Latest News</h1>
    <div class="mb-4 scicatcon-logo-container">
      <a class="scicatcon-logo" href="{{ site.scicatcon_link }}" target="_blank">
        <img src="assets/images/SciCatCon2025_logo_full.svg" alt="SciCatCon2025">
      </a>
    </div>
    <p>
      SciCatCon 2025 will take place in Copenhagen on June 2025 from the 24th to the 26th.<br>
      The meeting will be held at the offices of the DMSC group of the European Spallation Source, located at the DTU campus in Lyngby, greater Copenhagen.<br> 
      <a href="{{ site.scicatcon_link }}" target="_blank">Click here for more information and registration.</a>
    </p>
  </div>
</section>
