<section id="news" class="news">
  <div class="container mb-3">
    <h1 class="mt-5 mb-5">Latest News</h1>
    <h2>SciCatCon 2026</h2>
    <h4>Save the date: 30 June - 2 July 2026</h4>
    <p class="news-title">
      SciCatCon 2026 will be hosted at MLZ close to Munich, Germany.
    </p>
    <p>
      <b>Hosting institution:</b><br>
      Heinz Maier-Leibnitz Zentrum (MLZ) at the Research Neutron Source Heinz Maier-Leibnitz (FRM II)<br>
      Lichtenbergstr. 1, 85747 Garching
    </p>
    <p>
      More details will be announced soon on the <a href="https://indico.frm2.tum.de/e/scicat2026" target="_blank">event page</a>.
    </p>
    <aside class="secondary-breaker">
      <div class="container text-center">
      </div>
    </aside>
    <br/><br/>
    <h2>SciCat satellite event at <a href="https://nobugs2026.xfel.eu/" target="_blank">NoBUGS 2026</a></h2>
    <h4>21 – 27 September 2026</h4>
    <p class="news-title">
      Introduction to the project, relevant concepts and available features.
      Hands-on experience leveraging the SciCatLive project. Q&A session.
    </p>
    <p>
      More information available on the <a href="https://indico.xfel.eu/event/2/page/19-scicat" target="_blank">event page</a>.
    </p>
  </div>
</section>
