<section id="news" class="news">
  <div class="container mb-3">
    <h1 class="mt-5 mb-5">Latest News</h1>
    <h2 class="mt-5 mb-5">SciCatCon 2025</h2>
    <p>
      SciCatCon 2025 will take place in Copenhagen on June 2025 from the 24th to the 26th.<br>
      The meeting will be held at the offices of the DMSC group of the European Spallation Source, located at the DTU campus in Lyngby, greater Copenhagen.<br> 
      More information will come soon, including registration. Limited places available.
    </p>
  </div>
</section>
