<section class="releases">
 <h3>Latest Releases</h3>
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-lg-4 card">Backend:
    <a id="release_backend" href="" target="_blank"></a>
    <a id="release_backend_zip" href="" target=_blank"><img src="/assets/images/zip-1.svg"></a>
    <a id="release_backend_tar" href="" target=_blank"><img src="/assets/images/tar-1.svg"></a>
   </div>
   <div class="col-lg-4 card">Frontend: 
    <a id="release_frontend" href="" target="_blank"></a>
    <a id="release_frontend_zip" href="" target=_blank"><img src="/assets/images/zip-1.svg"></a>
    <a id="release_frontend_tar" href="" target=_blank"><img src="/assets/images/tar-1.svg"></a>
   </div>
  </div>
 </div>
 <script>
  var getJSON = function(url, element_id, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'json';
    xhr.onload = function() {
      var status = xhr.status;
      if (status === 200) {
        callback(null, xhr.response, element_id);
      } else {
        callback(status, xhr.response, element_id);
      }
    };
    xhr.send();
  };

  const release_callback = function(err, data, element_id) {
    if (err !== null) {
     console.log("Impossible retrieving latest version for " + element_id);
    } else {
     const version_link = document.getElementById(element_id);
     version_link.innerHTML = data.tag_name;
     version_link.href = data.html_url;
     const zip_link = document.getElementById(element_id + "_zip");
     zip_link.href = data.zipball_url;
     const tar_link = document.getElementById(element_id + "_tar");
     tar_link.href = data.tarball_url;
    }
  };

  getJSON(
   'https://api.github.com/repos/SciCatProject/scicat-backend-next/releases/latest',
   'release_backend',
   release_callback
  );
  getJSON(
   'https://api.github.com/repos/SciCatProject/frontend/releases/latest',
   'release_frontend',
   release_callback
  );
 </script>
</section>
