<section id="team" class="team text-center bg-light">
 <div class="container mb-3">
  <h1 class="mt-5 mb-5">Team</h1>
  <div class="row justify-content-center">
   {% for leader in site.team.leaders %}
    <div class="leader col-lg-4 card" onclick="leaderClick('{{ leader.url }}')">
     <div class="leadership">{{ leader.role }}</div>
     <div class="person">{{ leader.name }}</div>
     {% if leader.company %}<div class="company">{{ leader.company }}</div> {% endif %}
   </div>
   {% endfor %}
  </div>
  <aside class="secondary-breaker">
    <div class="container text-center">
    </div>
  </aside>
  <h2 class="mt-5 mb-4">Contributors</h2>
  <div class="row contributors">
    <div id="loading" style="display: none;">
      <div class="loader"></div>
    </div>
    <div id="members" class="members-container"></div>
    <div class="show-more-container">
      <button id="showAllBtn" class="show-all-button">Show All</button>
    </div>
    <div class="show-members-note">
      If your avatar is not listed above, please visit the GitHub project's People page and change your membership from <i>private</i> to <i>public</i>.
    </div>
  </div>
 </div>
</section>

<script>
  function leaderClick(url) {
    window.open(url, "_blank");
  }

  async function fetchOrgMembers() {
    const orgName = "{{ site.github_organization }}";
    const response = await fetch(`https://api.github.com/orgs/${orgName}/members`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    });
    return await response.json();
  }

  async function fetchMemberActivity(orgId, username) {
    const response = await fetch(`https://api.github.com/users/${username}/events`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    });
    return await response.json();
  }

  function displayMember(member) {
    const memberDiv = document.createElement("div");
    memberDiv.className = "member";

    const avatar = document.createElement("img");
    avatar.src = member.avatar_url;
    avatar.className = "avatar";
    avatar.onclick = () => window.open(member.html_url, "_blank");

    const popup = document.createElement("div");
    popup.className = "popup";
    popup.innerHTML = `<p>${member.login}</p>`;

    memberDiv.appendChild(avatar);
    memberDiv.appendChild(popup);
    return memberDiv;
  }

  function displayAllMembers(members) {
    const membersContainer = document.getElementById("members");
    const showAllBtn = document.getElementById("showAllBtn");
    const loading = document.getElementById("loading");

    membersContainer.innerHTML = "";
    loading.style.display = "none";

    const membersToDisplay = members.slice(0, 16);
    membersToDisplay.forEach(member => {
      membersContainer.appendChild(displayMember(member));
    });

    let showAll = false;
    if (members.length > 16) {
      showAllBtn.style.display = "block";
      showAllBtn.onclick = () => {
        if (!showAll) {
          members.slice(16).forEach(member => {
            membersContainer.appendChild(displayMember(member));
          });
          showAllBtn.innerText = "Show Less";
        } else {
          membersContainer.innerHTML = "";
          displayAllMembers(members);
          showAllBtn.innerText = "Show All";
        }
        showAll = !showAll;
      };
    } else {
      showAllBtn.style.display = "none";
    }
  }

  (async () => {
    const loading = document.getElementById("loading");
    loading.style.display = "block";
    try {
      const members = await fetchOrgMembers();
      displayAllMembers(members);
    } catch (error) {
      console.error("Error fetching and sorting members:", error);
    }
  })();
</script>
