body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
  background-color: #f8f9fa;
  padding-top: 75px;
}

main > div {
  height: 10rem;
  margin: 2rem;
  border: darkgrey 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 700;
}

div.container {
  margin-bottom: 3rem;
}

.card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 6px 3px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-lg {
  flex: 0 0 auto;
  width: 67%;
}

.card-xl {
  flex: 0 0 auto;
  width: 84%;
}

@media (max-width: 991px) {
  .card-lg {
    width: 100%;
  }

  .card-xl {
    width: 100%;
  }
}

.section-breaker {
  background-color: #041526;
  opacity: 0.9;
  height: 0.3rem !important;
}

// ========= Navbar ========= 

.navbar {
  .navbar-header {
    height: 50px;
  }

  .navbar-brand {
    position: absolute;
    top: 5px;
    left: 5px;

    img {
      height: 45px;
    }
  }

  #nav-logo {
    display: none;
  }

  .navbar-menu {
    padding-left: 120px;
    padding-right: 120px;
  }

  @media (max-width: 1100px) {
    .navbar-menu {
      padding: 5px 20px;
    }
  
    li {
      text-align: center;
    }
  }

  .navbar-toggler {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
  }

  .active {
    background-color: #27aae1 !important;
  }
}

// ========= Header ========= 

header.masthead {
  position: relative;
  padding-top: 2rem;
  height: 62vh;

  .overlay {
    position: absolute;
    background-color: #041526;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    img {
      width: 65%;
    }
  }
}

header.masthead:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('/assets/images/bg-masthead.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// ========= Mission =========

.mission {
 p {
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 3%;
 }
}

// ========= Releases =========

.releases {
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding: 7px 0;
  background-color: #041526;
  opacity: 0.9;
  color: white;
  text-align: center;

  div.card {
    height: 5rem;
    line-height: 5rem;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: unset;
    flex-direction: unset;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 6px 3px auto;
    box-shadow: 0 4px 6px #141414;
    max-width: 60%;
    padding: 0;

    a {
      color: white;
    }

    div {
      display: inline;
    }

    a#release_backend_zip, a#release_backend_tar,
    a#release_frontend_zip, a#release_frontend_tar {
      img {
        height: 28px;
      }
    }
  }
}

// ========= Facilities =========

.facility {
  width: 400px;
  min-height: 180px;

  .facility-logo {
    height: 100px;
  }

  .details {
    flex-grow: 1;
    margin-top: 15px;

    .contact-name {
      font-size: 1rem;
      font-style: italic;
    }

    .contact-email {
      font-size: 0.9rem;
    }

    .contact-email:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

// ========= Team =========

.team {
  .leader {
    width: 400px;

    .leadership {
      font-size: 1.2rem;
      margin: 6px 0 12px 0 ;
    }

    .person {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .company {
      font-size: 0.9rem;
      font-style: italic;
      margin-bottom: 6px;
    }
  }

  .leader:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .contributors {
    .loader {
      border: 4px solid #f3f3f3;
      border-top: 4px solid #27aae1;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
      margin: 0 auto;
    }
  
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  
    .members-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .member {
      position: relative;
      margin: 10px;
      display: inline-block;
    }
  
    .member img {
      cursor: pointer;
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
      border-radius: 50%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .member .popup {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      color: #24292f;
      padding: 10px;
      border-radius: 6px;
      width: 200px;
      text-align: left;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      z-index: 10;
    }
  
    .member .popup:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 6px;
      border-style: solid;
      border-color: white transparent transparent transparent;
    }
  
    .member:hover .popup {
      visibility: visible;
      opacity: 1;
    }
  
    .show-more-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    .show-members {
      display: none;
      background-color: transparent;
      color: #27aae1;
      border: none;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
      transition: background-color 0.3s ease;
    }
  
    .show-members:hover {
      color: #808285;
    }
  }
}

// ========= Repositories =========

.repositories {
  .repository {
    min-height: 160px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .repository.card { 
    .card-content {
      display: flex;
      width: 100%;
    }

    .repo-logo {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      margin-left: 10px;
      margin-right: 20px;

      img {
        width: 100px;
        height: auto;
      }
    }

    .repo-details {
      text-align: left;

      .repo-name {
        font-size: 1.2em;
        color: #27aae1;
      }

      .repo-title {
        font-size: 1.5rem;
        margin: 0;
        margin-top: 5px;
        text-align: left;
      }

      .repo-description {
        font-size: 1rem;
        margin: 15px 0;
        text-align: left;
      }

      .repo-links {
        display: flex;
        gap: 20px;

        .repo-link {
          display: flex;
          color: #808285;
          font-size: 0.8rem;

          img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }

          a {
            text-decoration: none;
            color: #27aae1;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// ========= Documentation =========

.documentation {
  .documentation-section {
    min-height: 130px;
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    color: #27aae1;
  }

  .name {
    font-size: 1.2em;
    margin-bottom: 6px;
  }

  .text {
    margin-top: 15px;
  }
}

// ========= Contact =========

.contact-link {
  height: 100px;
  text-decoration: none;
  color: #333;
  padding-top: 10px;

  &:hover {
    color: #27aae1;
  }

  .contact-link-img {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;

    img {
      width: 50px;
      border-radius: 0%;
      box-shadow: none;
    }
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  p {
    margin: 15px 0 20px 0;
  }
}

// ========= Footer =========

.footer-container {
  background-color: #041526;
  opacity: 0.9;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  min-height: 15vh;

  .row {
    width: 90%;
    margin: auto;
    padding-top: 6vh;
  }
}
