body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
  background-color: #f8f9fa;
  padding-top: 75px;
}

main > div {
  height: 10rem;
  margin: 2rem;
  border: darkgrey 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-weight: 700;
}


.navbar {
  .navbar-header {
    height: 50px;
  }
  .navbar-brand {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  #nav-logo {
    display: none;
  }

  .navbar-menu {
    padding-left: 120px;
    padding-right: 120px;
  }
  @media (max-width: 991px) {
    .navbar-menu {
      padding: 5px 20px;
      margin-top: 50px;
    }
    li {
      text-align: center;
    }
  }
  .navbar-toggler {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
  }
}

header.masthead {
  position: relative;
  //background-color: #343a40;
  //background: url("/assets/images/bg-masthead.jpg") no-repeat center center;
  //background-size: cover;
  padding-top: 2rem;
  height: 62vh;

  .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    img {
      width: 55%;
    }
    h1 {
      margin-bottom: 0.5rem !important;
    }
  }

}

header.masthead:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('/assets/images/bg-masthead.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pills-icons {
  .container {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .pills-icons-item {
    max-width: 20rem;

    .pills-icons-icon {
      height: 7rem;

      i {
        font-size: 4.5rem;
      }
    }
  }

  .pills-icons-item:hover .pills-icons-icon i {
    font-size: 5rem;
  }

}

.features {
  .features-row {
    height: 20vh !important;

    @media (max-width: 985px) {
      height: 30vh !important;
    }
  }

  .features-item {
    overflow: hidden;
    position: relative;
    
    .features-image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .features-content {
      position: relative;
      padding: 1rem;
      height: 100%;

      .features-content-text {
        width: 95%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        p {
          font-size: 1.25rem;
        }
      }

      .attribution {
        position: absolute;
        right: 1rem;
        bottom: -0.9rem;
        font-size: 0.7rem;
      }
    }
  }
}

.mission {
 h4 {
  text-aling: justified;
 }
}

.releases {
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding: 7px 0;
  background-color: rgba(0, 0, 0, 0.831);
  color: white;
  text-align: center;

  div.card {
    height: 5rem;
    line-height: 5rem;
    background-color: transparent;
    border-color: #565454;
    display: unset;
    flex-direction: unset;
    font-weight: 700;
    font-size: 1.5rem;
    a {
      color: white;
    }
    div {
      display: inline;
    }
    a#release_backend_zip, a#release_backend_tar,
    a#release_frontend_zip, a#release_frontend_tar {
      img {
        height: 24px;
      }
    }
  }
}

.facility {
  margin-bottom: 30px !important;
}

.facilities {
  a {
    color: var(--bs-body-color);
  }
}

.team {
  .leader {
    height: 150px;

    .leadership {
      font-size: 1.2rem;
      padding: 25px 0 0 0;

      @media (max-width: 1000px) {
        padding: 5px 0 20px 0;
      }
    }
    .person {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .company {
      font-size: 0.9rem;
      font-style: italic;
    }
    .email {
      font-size: 0.8rem;
    }
  }

  .collaborator {
    height: 150px;

    .person {
      font-size: 1.3rem;
      margin-top: 12%;

      @media (max-width: 992px) {
        margin-top: 5%;
      }
    }
    .company {
      font-size: 0.9rem;
      font-style: italic;
    }
    .email {
      font-size: 0.8rem;
    }
  }
}

aside.section-breaker {
  height: 0.5rem;
}


.effort {
  text-align: left;

  .name {
    font-size: 1.5rem;
  }

  .effort-name {
    border-bottom: 1px lightgray solid;
    margin-bottom: 1rem;
  }

  .effort-info {
    padding-bottom: 0.5rem;
    border-bottom: 1px lightgray solid;
    margin-bottom: 1rem;

    .text {
      text-align: left;

      @media (max-width: 1000px) {
        text-align: center;
      }

      a {
        color: var(--bs-body-color) !important;
      }
    }
  }

  .leader-label {
    display: inline-block;
    width: 25%;
    text-align: right;
    padding-right: 0.5rem;
  }

  .leader {
    width: 50%;
    text-align: left;
    padding-left: 0.5rem;
    display: inline-block;
  }
}

section#resources {
  .resource {
    margin-bottom: 10px;

    a {
      color: var(--bs-body-color) !important;
    }
  }
}

div.container {
  margin-bottom: 3rem;
}
