<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script src="/assets/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="assets/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet">
</head>
<body>
  {% include nav.html %}
    {% include header.html %}
    {% include intro.html %}
    {% include breaker.html %}
    {% include facilities.html %}
    {% include breaker.html %}
    {% include team.html %}
    {% include breaker.html %}
    {% include effort.html %}
    {% include breaker.html %}
    {% include resources.html %}
    {% include breaker.html %}
    {% include footer.html %}
  <script src="/assets/js/main.js"></script>
</body>
</html>
