<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script src="/assets/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  {% include nav.html %}
  <main>
    {% include header.html %}
    {% include intro.html %}
    {% include facilities.html %}
    {% include board.html %}
    {% include effort.html %}
    {% include resources.html %}
    {% include footer.html %}
  </main>
  <script src="/assets/js/main.js"></script>
</body>
</html>
