<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script src="/assets/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  {% include nav.html %}
  {% include header.html %}
  {% include mission.html %}
  {% include breaker.html %}
  {% include news.html %}
  {% include release.html %}
  {% include facilities.html %}
  {% include breaker.html %}
  {% include partners.html %}
  {% include breaker.html %}
  {% include team.html %}
  {% include breaker.html %}
  {% include repositories.html %}
  {% include breaker.html %}
  {% include documentation.html %}
  {% include breaker.html %}
  {% include contact.html %}
  {% include breaker.html %}
  {% include footer.html %}
  <script src="/assets/js/main.js"></script>
</body>
</html>
