<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script src="/assets/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <!-- <link href="assets/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  {% include nav.html %}
  <div class="container">
    <div class="row">
      <h1 class="mt-5 mb-5">{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
  {% include breaker.html %}
  {% include footer.html %}
  <script src="/assets/js/main.js"></script>
</body>
</html>
